@import './fonts.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: ProximaRegular;
}

h1 {
  color: #0073b2;

  span {
    font-size: 9px;
  }
}

.container {
  display: table;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.pageContent {
  margin-top: 50px;
}

.welcomeScreen {
  text-align: center;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: table;
  width: 100%;

  button {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    transition: 0.2s ease-out 0.1s;
    cursor: pointer;
    opacity: 0.7;
    color: #007fb0;
    outline: none;

    &:hover {
      opacity: 1;
    }
  }
}

@import './header.scss';
@import './footer.scss';
@import './popup.scss';
