@import './fonts.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: ProximaRegular;
}

h1 {
  span {
    font-size: 9px;
  }
}

.container {
  display: table;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@import './header.scss';
@import './footer.scss';
@import './popup.scss';
