.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  ul {

    display: inline-block;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding-right: 30px;
    }
  }

  .logInBtn {
    cursor: pointer;
    float: right;
    margin-right: 50px;

    a {
      color: #000;
      transition: 0.2s ease-out 0.1s;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.userMenu {
  position: relative;

  .userMenuList {
    display: none;
    position: absolute;
    width: 100%;
    top: 10px;
    right: 0;

    li {
      display: block;
      cursor: pointer;
      opacity: 0.7;
      transition:  0.2s ease-out;
      margin: 10px 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.active {
    .userMenuList {
      display: inline-block;
    }
  }
}
