.blackbg {
  display: inline-flex;
  position: absolute;
  z-index: 9;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popUp {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  max-width: 400px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #0073b2;
  box-shadow: 2px 2px 0 rgba(0, 115, 178, 0.1607843137254902);
  padding: 15px;
  border-radius: 9px;
}

.popUpCls {
  position: absolute;
  top: -22px;
  right: -15px;
  font-size: 20px;
  cursor: pointer;
  color: #cff1fd;
  font-weight: bold;
  opacity: 0.8;
  transition: 0.2s ease-out 0.1s;

  &:hover {
    opacity: 1;
  }
}

.popUpHead {
  h3 {
    color: #0073b2;
    display: inline-block;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease-out 0.1s;
    margin-top: 0;
    margin-right: 10px;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.popUpBody {
  font-size: 18px;

  input {
    width: 100%;
    margin-bottom: 17px;
    padding: 5px;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid rgba(0, 115, 178, 0.62);
  }

  button {
    border: 0;
    background-color: transparent;
    transition: 0.2s ease-out 0.1s;
    cursor: pointer;
    opacity: 0.8;
    color: #007fb0;
    outline: none;
    padding-right: 0;
    font-size: 15px;
    float: right;

    &:hover {
      opacity: 1;
    }
  }
}

.errormsg {
  color: red;
}
