.popUp {
  display: table;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #dbd8d8;
  box-shadow: 2px 2px 0 #dbd8d8;
  padding: 15px;
}

.popUpCls {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popUpHead {
  h3 {
    display: inline-block;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease-out 0.1s;
    margin-top: 0;
    margin-right: 10px;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.popUpBody {
  font-size: 18px;

  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 17px;
  }
}
